# version: 0.3.1
# path: requirements.txt

numpy
pillow
pyautogui
paddleocr
opencv-python
onnxruntime
PySide6
gym
stable-baselines3
torch
pyyaml
pynput
scikit-learn
mss
pywin32; platform_system == "Windows"
requests
